In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\abc\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abc\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abc\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abc\anaconda3\lib\site-packages (from selenium) (2022.9.24)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abc\anaconda3\lib\site-packages (from selenium) (1.26.12)
Requirement already satisfied: async-generator>=1.10 in c:\users\abc\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\abc\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\abc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.8)
Requirement already satisfied: exceptiongroup>=1.0.0rc9; python_version < "3.11" in c:\users\abc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (19.3.0)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\abc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.0)
Requirement already satisfied: outcome in c:\users\abc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\abc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in c:\users\abc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6; extra == "socks" in c:\users\abc\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abc\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pycparser in c:\users\abc\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.19)
Requirement already satisfied: typing-extensions; python_version < "3.8" in c:\users\abc\anaconda3\lib\site-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.3.0)

In [80]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
from selenium.webdriver.common.by import By
import time
import re

In [13]:
#connecting to the driver
driver=webdriver.Chrome(r"C:\python\chromedriver.exe")

# Q.1)

In [4]:
#opening url on automated browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

In [6]:
#Scrapping the details of the Rank of the video
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)
    
#Scrapping the details of the video name
video=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in video[:30]:
    Name.append(i.text)
    
#Scrapping the details of the Artist name
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
#Scrapping the details of the views information
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)
    
#Scrapping the details of the upload date
date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in date[:30]:
    Upload_Date.append(i.text)

In [7]:
#creating dataframe
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Uploaded-Date':Upload_Date,'Views':Views})
df

,Rank,Name,Artist,Uploaded-Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.58
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.99
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.50
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.83
4,5.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.68
5,6.,"""See You Again""[16]",Wiz Khalifa,"April 6, 2015",5.68
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.96
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.73
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.69
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.58
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.50
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.11
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.77
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.67
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.67
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.60
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.56
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.51
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.41
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.37
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.36
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.34
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.32
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.29
25,26.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.28
26,27.,"""Lean On""[45]",Major Lazer,"March 22, 2015",3.28
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.27
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.22
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.19

# Q.2)

In [6]:
#opening bcci website on automated browser
driver.get('https://www.bcci.tv/')

In [7]:
#reaching to international fixture page
fixture=driver.find_element(By.XPATH,'//a[@class="nav-link"]')
fixture.get_attribute('href')
fixture.click()

'https://www.bcci.tv/#'

In [8]:
#creating an empty list
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [20]:
#Scrapping the data for match name
name=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in name:
    Match.append(i.text)

In [11]:
#Scrapping the data for series name
series=driver.find_elements(By.XPATH,"//div[@class='fixture-card-top']/h5[2]")
for i in series:
    Series.append(i.text)

In [14]:
#Scrapping the data for place
place=driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")
for i in place:
    Place.append(i.text)

In [16]:
#Scrapping the data having the match date
date=driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")
for i in date:
    Date.append(i.text)

In [17]:
#Scrapping the data for match time
time=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
for i in time:
    Time.append(i.text)

In [22]:
#creating dataframe
df=pd.DataFrame({'Match':Match,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match,Series,Place,Date,Time
0,5th T20I -,ICC MENS T20 WORLD CUP 2022,"Melbourne Cricket Ground,",6 NOV 2022,1:30 PM IST
1,1st T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Sky Stadium,",18 NOV 2022,12:00 PM IST
2,2nd T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Bay Oval,",20 NOV 2022,12:00 PM IST
3,3rd T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Mclean Park,",22 NOV 2022,12:00 PM IST
4,1st ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Eden Park,",25 NOV 2022,7:00 AM IST
5,2nd ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Seddon Park,",27 NOV 2022,7:00 AM IST
6,3rd ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Hagley Oval,",30 NOV 2022,7:00 AM IST
7,1st ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur,",4 DEC 2022,12:30 PM IST

# Q.3)

In [4]:
#Getting the website on automated browser
driver.get('https://www.guru99.com/')

In [27]:
#reaching to selenium page
s=driver.find_element(By.XPATH,'//html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
s.get_attribute('href')
s.click()

In [28]:
#Clicking on the selenium exception tutorial page
se=driver.find_element(By.XPATH,"//html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
se.click()

In [10]:
#Creating the empty list to store the scraped data
Name=[]
#Scrapping the data having exception names and its description
name=driver.find_elements(By.XPATH,"//div[@class='entry-content single-content']/p")
for i in name:
    Name.append(i.text)

In [12]:
print(Name)

['1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.', '2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.', '3. NoSuchElementException: This Exception occurs if an element could not be found.', '4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.', '5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.', '6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.', '7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.', '8. SessionNotFoundException: The WebDriver is acting after you quit the browser.', '9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.', '10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.', '11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.', '12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.', '13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.', '14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.', '15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.', '16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.', '17. ImeNotAvailableException: It takes place when IME support is unavailable.', '18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.', '19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.', '20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.', '21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.', '22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.', '23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.', '24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.', '25. JavascriptException: This issue occurs while executing JavaScript given by the user.', '26. JsonException: It occurs when you afford to get the session when the session is not created.', '27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.', '28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.', '29. NoSuchContextException: ContextAware does mobile device testing.', '30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.', '31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.', '32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.', '33. ScreenshotException: It is not possible to capture a screen.', '34. SessionNotCreatedException: It happens when a new session could not be successfully created.', '35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.', '36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.', '37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.', '38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.', '39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.', '40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.', '41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.', 'Here, are some important standard using which you can handle Exceptions in Selenium WebDriver:', 'Step 1) Try-catch', 'This method can catch Exceptions, which uses a combination of the try and catch keywords. Try command indicates the start of the block, and Catch is placed at the end of the try block, which helps to resolve the Exception.', 'Step 2) Multiple catch blocks', 'There are various types of Exceptions, and you can expect more than one exception from a single block of code. Multiple catches help you to handle every type of Exception separately with a separate block of code. It can be used for more than two catch blocks, and there is no limitation on the number of catch blocks.', 'Step 3) Throw', 'When you want to generate an Exception, the Throw keyword is used to throw Exception to handle it in the run time. When you are throwing an Exception without handling it, then they need to use Throw keyword.', 'Step 4) Multiple Exceptions', 'You can mention various Exceptions in the throws clause.', 'Step 5) Finally', 'The Final keyword is used to create a block of code under the try block. It is the final code that helps you to executes irrespective of the occurrence of an exception', 'You can also use the following methods to display Exception Information:']

# Q.4)

In [14]:
#Getting the website to driver
driver.get('http://statisticstimes.com/')

In [60]:
#reaching to economy page
eco=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')
eco.get_attribute('href')
eco.click()

In [63]:
#reaching to india page
ind=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind.get_attribute('href')

'https://www.statisticstimes.com/economy/india-statistics.php'

In [15]:
Rank=[]
#Scrapping the data having rank of the states
rank=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in rank:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)

In [16]:
State=[]
#Scrapping the data having State name
state=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in state:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)

In [67]:
GSDP19_20=[]
#Scrapping the data having GSDP 19-20 data
for i in driver.find_elements(By.XPATH,"//td[@class='data']"):
    GSDP19_20.append(i.text)

In [68]:
GSDP18_19=[]
#Scrapping the data having GSDP 18-19 data
for i in driver.find_elements(By.XPATH,"//td[@class='data sorting_1']"):
    GSDP18_19.append(i.text)

In [69]:
Share18_19=[]
#Scrapping the data having Share 18-19 data
for i in driver.find_elements(By.XPATH,"//td[@class='data']"):
    Share18_19.append(i.text)

In [71]:
GDP=[]
#Scrapping the data having GDP billions data
for i in driver.find_elements(By.XPATH,"//td[@class='data']"):
    GDP.append(i.text)

# Q.5)

In [17]:
#Getting the website to driver
driver.get('https://github.com/')

In [19]:
#Clicking explore tab
explore=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]")
explore.click()

In [23]:
#Clicking trending option
trending=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException as e:
    driver.get(trending.get_attribute('href'))

In [24]:
#scraping the Repositor_Name 
Repository_Name =[]
RN=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in RN:
    if i.text is None :
        Repository_Name.append("--") 
    else:
        Repository_Name.append(i.text)

In [37]:
#Scraping description
Description=[] 
des=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in des:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)

In [31]:
#Scrapping the data having the contributors count
Count=[]
count=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
for i in count:
    Count.append(i.text)

In [39]:
#Scrapping the data having the language used
Language=[]
lang=driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']")
for i in lang:
    if i.text is None:
        Language.append('Not Available')
    else:
        Language.append(i.text)

In [41]:
#Creating a dataframe for the scrapped data
github=pd.DataFrame({})
github['Repository title']=Repository_Name[:21]
github['Description']=Description[:21]
github['Contributors count']=Count[:21]
github['Language used']=Language[:21]
github

,Repository title,Description,Contributors count,Language used
0,grafana /,"horizontally-scalable, highly-available, multi...",956,Go
1,SheerSt /,PokeWilds - A Gen 2 Game/Engine using libGDX,21,Assembly
2,refinedev /,"Build your React-based CRUD applications, with...",793,TypeScript
3,milanm /,DevOps Roadmap for 2022. with learning resources,76,Java
4,Netflix /,Conductor is a microservices orchestration eng...,"4,754",C++
5,Taiga74164 /,Akebi Genshin Cheat source for OS/CN 3.0,355,Go
6,karmada-io /,"Open, Multi-Cloud, Multi-Cluster Kubernetes Or...","1,988",Jupyter Notebook
7,labmlai /,59 Implementations/tutorials of deep learning ...,102,TypeScript
8,hellof2e /,"Next generation Frontend component library, it...","5,263",JavaScript
9,strapi /,Strapi is the leading open-source headless CMS...,"1,427",TypeScript
10,lidangzzz /,立党老师的润学（零基础转码/移民/留学/海外创业/永居）笔记,737,C#
11,microsoft /,Windows system utilities to maximize productivity,490,Go
12,pocketbase /,Open Source realtime backend in 1 file,"2,697",C
13,Olde-Skuul /,The complete archive for DOOM for the 3DO,542,JavaScript
14,benphelps /,A highly customizable homepage (or startpage /...,"13,890",JavaScript
15,poteto /,Companies that don't have a broken hiring process,"1,522",TypeScript
16,microsoft /,TypeScript is a superset of JavaScript that co...,"1,047",Java
17,NationalSecurityAgency /,Ghidra is a software reverse engineering (SRE)...,103,Java
18,apache /,Apache Pulsar - distributed pub-sub messaging ...,"49,261",Python
19,prometheus /,Prometheus instrumentation library for Python ...,"6,000",C#
20,dotnet /,Documentation for ASP.NET Core,"2,516",TypeScript

# Q.6)

In [42]:
#Getting the website to driver
driver.get('https://www.billboard.com/')

In [44]:
#clicking on chart option
chart= driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div/div/ul/li[1]/h3/a')
chart.click()

In [45]:
#clicking on hot100 option
hot= driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div/div/ul/li[1]/ul/li[2]/a')
hot.click()

In [46]:
#Creating empty lists for storing the scrapped data
Song=[]
Artist=[]
Lastweek=[]
Peak=[]
Weeks_on_board=[]

In [53]:
#Scrapping the data having the song name
song=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in song:
    Song.append(i.text)

In [55]:
#Scrapping the data having the artist name
artist=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artist:
    Artist.append(i.text)

In [69]:
#Scrapping the data having the last week rank
last_week=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in last_week:
    if i.text is None:
        Lastweek.append('-')
    else:
        Lastweek.append(i.text)

In [70]:
#Scrapping the data having the peak rank
peak=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in peak:
    if i.text is None:
        Peak.append('-')
    else:
        Peak.append(i.text)

In [71]:
#Scrapping the data having weeks on board data
weeks=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in weeks:
    if i.text is None:
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

In [74]:
#Creating a dataframe
df=pd.DataFrame({})
df['song']=Song[:99]
df['artist']=Artist
df['peak']=Peak[:99]
df['lastweek']=Lastweek[:99]
df['weeksonboard']=Weeks_on_board[:99]
df

,song,artist,peak,lastweek,weeksonboard
0,Anti-Hero,Taylor Swift,-,-,-
1,Lavender Haze,Taylor Swift,2,2,2
2,Maroon,Taylor Swift Featuring Lana Del Rey,1,1,1
3,Snow On The Beach,Taylor Swift,,,
4,Midnight Rain,Taylor Swift,,,
...,...,...,...,...,...
94,Made You Look,Steve Lacy,,,
95,Dark Red,Lil Baby Featuring Future,,,
96,From Now On,Lewis Capaldi,6,6,6
97,Forget Me,Oliver Tree & Robin Schulz,6,6,6
98,Miss You,Rosalia,20,20,20

# Q.7)

In [78]:
#Getting the website to driver
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [82]:
#Entering domain as required in question
d=driver.find_element(By.CLASS_NAME,'sugInp')
d.send_keys('Data Science')

In [85]:
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search.click()

In [86]:
#Creating empty lists for storing the scrapped data
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#Scrapping the data having the recruiter's name
name=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the recruiter's designation
desc=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i in desc:
    Designation.append(i.text)
    
#Scrapping the data having company name
company=driver.find_elements(By.XPATH,"//p[@class='highlightable']/a[2]")
for i in company:
    Company.append(i.text)
    
#Scrapping the data having the skillset details
skills=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
    
#Scrapping the data having the location details
location=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
for i in location:
    Location.append(i.text)

In [89]:
#Creating a dataframe for the scrapped data
df=pd.DataFrame({})
df['Name']=Name[:48]
df['Designation']=Designation[:48]
df['Company']=Company[:48]
df['Skills']=Skills[:48]
df['Location']=Location
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

# Q.8)

In [90]:
#Getting the website to driver
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [91]:
#Creating empty lists to store the scrapped data
Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]

#Scrapping the data having the book name
book=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book:
    Book.append(i.text)
    
#Scrapping the data having the author name
author=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author:
    Author.append(i.text)
    
#Scrapping the data having the volumes sold details
volume=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volume:
    Volume.append(i.text)

#Scrapping the data having publisher details
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)
    
#Scrapping the data having genre details 
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)

In [92]:
#creating dataframe
df=pd.DataFrame({'Book-Name':Book,'Author':Author,'Volume-sales':Volume,'Publisher':Publisher,'Genre':Genre})
df

,Book-Name,Author,Volume-sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q.9)

In [93]:
#Getting the website to driver
driver.get('https://www.imdb.com/list/ls095964455/')

In [94]:
#Creating empty lists for storing the scrapped data
Name=[]
Year=[]
Genre=[]
Runtime=[]
Rating=[]
Vote=[]

In [95]:
#Scrapping the data having the series name
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the year span details
year=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in year:
    Year.append(i.text)
    
#Scrapping the data having the genre details
genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
#Scrapping the data having the runtime details
runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in runtime:
    Runtime.append(i.text)
    
#Scrapping the data having rating details
rating=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
for i in rating:
    Rating.append(i.text)
    
#Scrapping the data having the votes details
votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
for i in votes:
    Vote.append(i.text)

In [96]:
#Creating a dataframe for the scrapped data
df=pd.DataFrame({'Name':Name,'Year span':Year,'Genre':Genre,'Runtime':Runtime,'Rating':Rating,'Votes':Vote})
df

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,077,482"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,167,882"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"978,967"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,417"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,506"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,943"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,072"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,538"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,410"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"242,499"

# Q.10)

In [97]:
#Getting the website to driver
driver.get('https://archive.ics.uci.edu/')

In [98]:
#Clicking on view all datasets link
datasets=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [99]:
#Creating empty lists for storing the scrapped data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [100]:
#Scrapping the data having dataset name
try:
    names=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#Scrapping the data having data type
try:
    types=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
#Scrapping the data having default task
try:
    task=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('-')

#Scrapping the data having no of instances
try:
    instance=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
#Scrapping the data having the year details
try:
    year=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [101]:
#Creating the dataframe
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021